/* .main-container {
  background-color: rgb(239, 207, 121);
  height: 80%;
  width: 50%;
} */

.container {
  display: inline-block;
}

.button {
  align-self: block;
}

.box {
  width: 100px;
  height: 100px;
}
